/* section 1 */
.cover-img {
    background-image: url('/assets/Covers/pexels-mike-bird-136872.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}
.home-title {
    color: black;
    transition: color 0.3s;
    cursor: pointer;
}
.home-title:hover {
    color: rgb(65, 197, 65);
}
/* section 2 */
.section-2 ul li {
    text-decoration: none;
    list-style-type: none;
}
.section-2 .name {
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
}
.section-2 .proffesion {
    font-size: 18px;
    font-weight: 600;
    color: grey;
}
.section-2 .box {
    margin-top: 100px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.249);
    padding: 20px;
}