<section class="section-2 bg-dark container-fluid" style="margin-top: 100px;" >
  <div class="bg-dark text-white text-center d-flex justify-content-center  align-items-center flex-column flex-lg-row " style="padding: 50px 20px;">
    <h1 class="display-6" style="font-weight: 700;">Book a car by getting in touch with us</h1>
    <h3 class="display-6" style="font-weight: 700; margin-left: 20px;"><span style="color: rgb(65, 197, 65);">(+123)-456-4778</span></h3>
  </div>
</section>
<section class="section-1" style="padding-bottom: 100px; padding-top: 50px;  background-color: rgba(128, 128, 128, 0.411);">
    <div class="container text-center  text-lg-start ">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h3>car Rental</h3>
            <p style="font-size: 15px; color: grey;">We offers a big range of vehicles for all your driving needs. We have the perfect car to meet your needs.</p>
            <div class="d-flex justify-content-center justify-content-lg-start">
                <img src="/assets/contact/phone-call.png" alt="call image">
                <p class="contact-data">(+123)-456-4778</p>
            </div>
            <div class="d-flex justify-content-center justify-content-lg-start text-lg-start text-center ">
                <img src="/assets/contact/email.png" alt="email image">
                <p class="contact-data">rentcar&#64;carmail.com</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h3>COMPANY</h3>
            <ul class="d-flex flex-column justify-content-center">
                <li>New York</li>
                <li>Careers</li>
                <li>Mobile</li>
                <li>Blog</li>
                <li>How we work</li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <h3>WORKING HOURS</h3>
            <ul>
                <li>Mon - Fri: 9:00AM - 9:00PM</li>
                <li>Sat: 9:00AM - 19:00PM</li>
                <li>Sun: Closed</li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <h3>SUBSCRIPTION</h3>
            <p>Subscribe your Email address for latest news & updates.</p>
            <div class="text-start d-flex flex-column">
                <input type="text" id="fullName" placeholder="Enter Email Adress">
            </div>
            <button class="reserve-btn" type="submit" routerLink="/home">Book Ride</button>
          </div>
        </div>
      </div>
</section>
