<nav class="navbar navbar-expand-lg" style="background-color: rgba(255, 0, 0, 0);">
    <div class="container">
      <a class="navbar-brand" routerLink="/home"><img class="img-fluid" style="max-width: 50px;"
        src="/assets/main logo/car-logo-clip-art-png-16.png"
        alt=""
        routerLink="/home"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img class="img-fluid" style="max-width: 50px;"
            src="/assets/main logo/car-logo-clip-art-png-16.png"
            alt=""
            routerLink="/home"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- navbar body -->
        <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
          <ul class="navbar-nav  justify-content-center align-items-center fs-6 flex-grow-1 pe-3">
            <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/home">Home</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/about">About</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/models">Vehicle Models</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/testimonials">Testimonials</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/team">Our Team</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link active" aria-current="page" data-bs-dismiss="offcanvas" routerLink="/contact">Contact</a>
            </li>
          </ul>
          <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3 fs-6">
            <a class="text-decoration-none px-3 py-1 logIn" routerLink="/signIn">{{"Login"}}</a>
            <a class="text-white text-decoration-none px-3 py-1 registration" routerLink="/registration">Registration</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
