
    <section class="section-1 container" style="margin-top: 400px; margin-bottom: 400px;">
        <div class="container">
            <div class="row">
              <div class="col">
                <div class="content text-center text-xxl-start">
                    <h3 class="display-6" style="font-weight: 800;">Plan your trip now</h3>
                    <h1 class="display-4" style="font-weight: 800;">Save <span style="color: rgb(65, 197, 65);">big</span> with our car rental</h1>
                    <p style="color: grey; font-weight: 700;">Rent the car of your dreams. Unbeatable prices, unlimited miles, flexible pick-up options and much more.</p>
                    <div class="buttons">
                        <button class="btn-1 text-white">Book Ride</button>
                        <button class="btn-2 mt-2">Learn More</button>
                    </div>
                </div>
              </div>
              <div class="col d-none d-xl-block ">
                <div class="content text-center ">
                    <img  src="/assets/images/car-vehicle-color6.png" style="width: 700px;" alt="">
                </div>
              </div>
            </div>
          </div>
    </section>

    <section class="section-2 container" style="margin-bottom: 200px;">
      
      <div style="padding: 40px 0 60px 40px; box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.179);">
        <div class="content">
          <h3 style="font-weight: 700;">Book a Car</h3>
        </div>
        <div>
          <form [formGroup]="carFormGroup" (ngSubmit)="OnSubmit()">
            <div class="row">
              <div class="col-lg-4">
                <label class="text-start" style="font-weight: 700; font-size: 16px;" for="carType">Select Your Car Type *</label>
                <select class="form-select-box" formControlName="carType" id="carType">
                  <option value="" selected>Select Your Car Type</option>
                  <option value="{{ car.model }}"  *ngFor="let car of cars">{{ car.model }}</option>
                </select>
              </div>
              <div class="col-lg-4">
                <label class="text-start" style="font-weight: 700; font-size: 16px;" for="DropOf">Pick-up *</label>
                <select class="form-select-box" formControlName="pickUpLoc">
                  <option value="" selected>Select Pick Up Location</option>
                  <option value="{{ location }}" *ngFor="let location of locations">{{ location }}</option>
                </select>
              </div>
              <div class="col-lg-4">
                  <label class="text-start" style="font-weight: 700; font-size: 16px;" for="DropOf">Drop-of *</label>
                <select class="form-select-box" formControlName="dropOfLoc" id="DropOf">
                  <option value="" selected>Select Drop Off Location</option>
                  <option value="{{ location }}" *ngFor="let location of locations">{{ location }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <label class="text-start" style="font-weight: 700; font-size: 16px;" for="pick-up">Pick-up *</label>
                <input class="form-select-box" formControlName="pickUpDate" type="date" id="pick-up">
              </div>
              <div class="col-lg-4">
                <label class="text-start" style="font-weight: 700; font-size: 16px;" for="Drop-of">Drop-of *</label>
                <input class="form-select-box" formControlName="dropOfDate" type="date" id="Drop-of" >
              </div>
              <div class="col-lg-4 text-center">
                <span class="text-start" style="font-weight: 700; font-size: 16px;"></span>
                <button class="reserve-btn mt-4 mt-lg-1" type="submit" >Reserve</button>
              </div>
            </div>
            <div class="error-message d-flex justify-content-between align-items-center " *ngIf="showErrorMessage">
              All fields required!
              <img src="/assets/close.png" width="20px" style="opacity: 60%; cursor: pointer;" (click)="showErrorMessage = false" alt="">
            </div>
          </form>
        </div>
      </div>
      
    </section>

    <section class="section-3 container" style="margin-bottom: 400px;">
      <div class="content text-center d-flex justify-content-center  align-items-center flex-column">
        <h3 style="font-weight: 700;">Plan your trip now</h3>
        <h1 class="display-4" style="font-weight: 800;">Quick & easy car rental</h1>
      </div>
        <div class="container text-center" style="margin-top: 40px;">
            <div class="row">
              <div class="col-ms-12 col-md-12 col-lg-4">
                <img src="/assets/iconsForSec3/car-insurance.png" alt="">
                <h2>Select Car</h2>
                <p>We offers a big range of vehicles for all your driving needs. We have the perfect car to meet your needs</p>
              </div>
              <div class="col-ms-12 col-md-12 col-lg-4">
                <img src="/assets/iconsForSec3/communication.png" alt="">
                <h2>Contact Operator</h2>
                <p>Our knowledgeable and friendly operators are always ready to help with any questions or concerns</p>
              </div>
              <div class="col-ms-12 col-md-12 col-lg-4">
                <img src="/assets/iconsForSec3/car-rental.png" alt="">
                <h2>Let's Drive</h2>
                <p>Whether you're hitting the open road, we've got you covered with our wide range of cars</p>
              </div>
            </div>
          </div>
    </section>

    <section class="section-4 container" style="margin-bottom: 400px;">
      <div class="content text-center">
        <h3 class="display-8" style="font-weight: 700;">Vehicle Models</h3>
        <h1 class="display-4" style="font-weight: 800;">Our rental fleet</h1>
        <p style="color: grey; font-weight: 700;">Choose from a variety of our amazing vehicles to rent for your next adventure or business trip</p>
    </div>

    <div class="container text-center" style=" margin-top: 50px;">
      <div class="row">
        <div class="col-ms-12 col-md-4">
            <div class="container-4" *ngFor="let car of cars.slice(0, 6)" (click)="selectCar(car)" [class.selected]="car === selectedCar">
              <span style="font-weight: 700; font-size: 20px;" >{{ car.model }}</span>
          </div>
        </div>
        
        <div class="col-ms-12 col-md-4">
          <div *ngIf="selectedCar">
            <img src="{{ selectedCar.img }}" style="max-width: 200px;" alt="">
          </div>
        </div>

        <div class="col-ms-12 col-md-4">
          
          <table class="table mt-sm-5  mt-md-5" style="border: 3px solid grey; background-color: rgb(65, 197, 65);" *ngIf="selectedCar">
            <div style="background-color: rgb(65, 197, 65);" class="p-2 d-flex justify-content-end ">
                <span style="width: 200px; font-size: 20px; font-weight: 800; color: white;" >${{ selectedCar.rentPerDay }} / Rent Per Day</span>
            </div>
            <tbody>
              <tr>
                <td>Make</td>
                <td>{{ selectedCar.make }}</td>
              </tr>
              <tr>
                <td>Model</td>
                <td>{{ selectedCar.model }}</td>
              </tr>
              <tr>
                <td>Price For Sell</td>
                <td>{{ selectedCar.price }}</td>
              </tr>
              <tr>
                <td>Year</td>
                <td>{{ selectedCar.year }}</td>
              </tr>
              
            </tbody>
          </table>

        </div>
      </div>
    </div>
    </section>

    <section class="section-5 bg-dark container-fluid" style="margin-bottom: 200px;" >
      <div class="bg-dark text-white text-center d-flex justify-content-center  align-items-center flex-column" style="padding: 50px 20px;">
        <h1 class="display-3" style="font-weight: 800;">Save big with our cheap car rental!</h1>
        <h3 class="display-6" style="font-weight: 700;">Top Airports. Local Suppliers. <span style="color: rgb(65, 197, 65);">24/7</span> Support.</h3>
      </div>
    </section>

    <section class="section-6 container" style="margin-bottom: 200px;">
      <div class="text-center" style="margin-bottom: 200px;">
        <img class="img-fluid " src="/assets/cars  bg forSec-6/Car-Free-PNG-Image.png" width="700px" alt="">
      </div>

      <div class="container text-center">
        <div class="row">
          <div class="col-ms-12 col-md-12 col-lg-6 text-lg-start ">
            <div class="boxx">
              <h3 class="display-7" style="font-weight: 700;">Why Choose Us</h3>
            <h1 class="display-4 " style="font-weight: 800;">Best valued deals you will ever find</h1>
            <p style="color: grey; font-weight: 700;">Discover the best deals you'll ever find with our unbeatable offers. We're dedicated to providing you with the best value for your money, so you can enjoy top-quality services and products without breaking the bank. Our deals are designed to give you the ultimate renting experience, so don't miss out on your chance to save big.</p>
            <button class="btn-1 text-white" style="font-weight: 700; font-size: 15px;">Find Details</button>
            </div> 
          </div>
          <div class="col-ms-12 col-md-12 col-lg-6 mt-md-5 mt-sm-5 mt-lg-0">  
            <div class="container text-center text-lg-start second-column">
              <div class="row">
                <div class="col-ms-12 col-md-12 col-lg-12 flex-ms-column flex-md-column flex-lg-row">
                  <img src="/assets/iconsForSec6/icons8-people-in-car-50.png" style="width: 100px;" alt="">
                  <div class="togeth">
                    <h3>Cross Country Drive</h3>
                  <p>Take your driving experience to the next level with our top-notch vehicles for your cross-country adventures.</p>
                  </div>
                  
                </div>
                <div class="col-ms-12 col-md-12 col-lg-12 flex-ms-column flex-md-column flex-lg-row">
                  <img src="/assets/iconsForSec6/icons8-dollar-80 (1).png" style="width: 100px;" alt="">
                  <div class="togeth">
                    <h3>All Inclusive Pricing</h3>
                  <p>Get everything you need in one convenient, transparent price with our all-inclusive pricing policy.</p>
                  </div>
                </div>
                <div class="col-ms-12 col-md-12 col-lg-12 flex-ms-column flex-md-column flex-lg-row">
                  <img src="/assets/iconsForSec6/icons8-dollar-64 (1).png" style="width: 100px;" alt="">
                  <div class="togeth">
                    <h3>No Hidden Charges</h3>
                  <p>Enjoy peace of mind with our no hidden charges policy. We believe in transparent and honest pricing.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="section-7" style="background-color: rgba(245, 245, 245, 0.598); padding: 90px 20px 200px 20px;">
      <div class="content text-center d-flex justify-content-center  align-items-center flex-column">
        <h3 style="font-weight: 700;">Reviewed by People</h3>
        <h1 class="display-4" style="font-weight: 800;">Client's Testimonials</h1>
        <p class="pForsec8" style="color: grey; font-weight: 700; max-width: 600px; margin-top: 20px;">Discover the positive impact we've made on the our clients by reading through their testimonials. Our clients have experienced our service and results, and they're eager to share their positive experiences with you.</p>
      </div>

    <div class="container text-center mt-5">
      <div class="row">
        <div class="col-ms-12 col-md-12 col-lg-6">
          <div class="box">
            <p class="display-6" style=" font-weight: 600; height: 25rem;">"We rented a car from this website and had an amazing experience! The booking was easy and the rental rates were very affordable. "</p>
            <div class="d-flex justify-content-between align-items-center " style="margin-top: 80px;">
              <div class="d-flex align-items-center" >
                <img src="/assets/profileicons/Free Photo _ Vertical shot of contemplative thoughtful dark skinned man keeps hand under chin, looks thoughtfully upwards.jpg" class="rounded" width="80px" height="80px" alt="">
                <h4 style="margin-left: 10px;">Parry Hotter</h4>
              </div>
              <img src="/assets/profileicons/check.png" width="w-auto" height="50px" alt="">
            </div>
          </div>
        </div>
        <div class="col-ms-12 col-md-12 col-lg-6 d-none d-lg-block">
          <div class="box">
            <p class="display-6" style="font-weight: 600; height: 25rem;">"The car was in great condition and made our trip even better. Highly recommend for this car rental website!"</p>
            <div class="d-flex justify-content-between align-items-center" style="margin-top: 80px;">
              <div class="d-flex align-items-center">
                <img src="/assets/profileicons/LOCAL WOLVES __ ISSUE 51 - CONAN GRAY.jpg" class="rounded" width="w-auto" height="80px" alt="">
                <h4 style="margin-left: 10px;">Ron Rizzly</h4>
              </div>
              <img src="/assets/profileicons/check.png" width="w-auto" height="50px" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section class="section-8  container" style="margin-bottom: 200px; padding: 90px 20px;">
      <div class="content text-center d-flex justify-content-center  align-items-center flex-column">
        <h3 style="font-weight: 700;">FAQ</h3>
        <h1 class="display-4" style="font-weight: 800;">Frequently Asked Questions</h1>
        <p class="" style="color: grey; font-weight: 700; max-width: 600px; margin-top: 20px;">Frequently Asked Questions About the Car Rental Booking Process on Our Website: Answers to Common Concerns and Inquiries.</p>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 40px;">
      <div class="content" style="width: 40rem;" >
        <div class="accordion" id="accordionExample">
          <div class="accordion-item" >
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h5>1. What is special about comparing rental car deals?</h5>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Comparing rental car deals is important as it helps find the best deal that fits your budget and requirements, ensuring you get the most value for your money. By comparing various options, you can find deals that offer lower prices, additional services, or better car models. You can find car rental deals by researching online and comparing prices from different rental companies.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h5>2. How do I find the car rental deals?</h5>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>You can find car rental deals by researching online and comparing prices from different rental companies. Websites such as Expedia, Kayak, and Travelocity allow you to compare prices and view available rental options. It is also recommended to sign up for email newsletters and follow rental car companies on social media to be informed of any special deals or promotions.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h5>3. How do I find such low rental car prices?</h5>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>Book in advance: Booking your rental car ahead of time can often result in lower prices. Compare prices from multiple companies: Use websites like Kayak, Expedia, or Travelocity to compare prices from multiple rental car companies. Look for discount codes and coupons: Search for discount codes and coupons that you can use to lower the rental price. Renting from an off-airport location can sometimes result in lower prices.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </section>

