/* section-1 */
.btn-1 {
    border: 2px solid rgb(65, 197, 65);
    padding: 20px;
    background-color: rgb(65, 197, 65); 
    font-weight: 700;
    border-radius: 10px;
    width: 150px;
    margin-right: 10px;
    transition: box-shadow 0.3s;
}
.btn-1:hover {
    box-shadow: 5px 7px 10px rgba(33, 100, 33, 0.2);
}
.btn-2 {
    border: 2px solid black;
    padding: 20px;
    background-color: black; 
    font-weight: 700;
    color: white;
    border-radius: 10px;
    width: 150px;
    transition: background-color 0.3s;
}
.btn-2:hover {
    background-color: #fff;
    color: black;
}

/* section 3 */
.section-3 img {
    max-width: 100px;
    margin-top: 40px;
}
.section-3 h2 {
    font-weight: 700;
    margin-top: 15px;
}
.section-3 p {
    font-weight: 700;
    color: grey;
    margin-top: 15px;
    width: 300px;
}
.section-3 .col-ms-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 10px;
    transition: background-color 0.3s;
}
.section-3 .col-ms-12:hover {
    background-color: rgb(204, 204, 204);
}

/* section 4 */

.section-4 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-4 p {
    width: 450px;
}
.section-4 .container-4 {


    padding: 10px 0;
    background-color: rgb(225, 225, 225);
    margin-top: 10px;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.section-4 .container-4:hover {
    background-color: rgb(65, 197, 65);
    color: white;
}
.section-4 table td{
    font-weight: 700;
    font-size: 15px;
    width: 50%;
}
.section-4 .container-4.selected {
    background-color: rgb(65, 197, 65);
    color: white;
}
.section-4 .col-ms-12 {
    margin-top: 40px;
}
/* section 6 */
/* .section-6 .col-ms-12 {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.section-6 .second-column p {
    /* width: 300px; */
    color: grey;
    font-weight: 700;
}
.section-6 .second-column h3 {
    font-weight: 800;
}

/* section 7 */
.section-7 .box {
    background-color: white;
    padding: 40px 20px;
    box-shadow: 7px 10px 10px rgba(128, 128, 128, 0.086);
    height: 40rem;
}
