<div class="container">
    <section class="section-1" style="margin-top: 400px;">
        <div class="container">
            <div class="row">
              <div class="col">
                <div class="content">
                    <h3 class="display-6" style="font-weight: 800;">Plan your trip now</h3>
                    <h1 class="display-4" style="font-weight: 800;">Save <span style="color: rgb(65, 197, 65);">big</span> with our car rental</h1>
                    <p style="color: grey; font-weight: 700;">Rent the car of your dreams. Unbeatable prices, unlimited miles, flexible pick-up options and much more.</p>
                    <div class="buttons">
                        <button class="btn-1 text-white">Book Ride</button>
                        <button class="btn-2">Learn More</button>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="content">
                    <img class="d-none d-md-block" src="/assets/images/car-vehicle-color6.png" style="width: 700px;" alt="">
                </div>
              </div>
            </div>
          </div>
    </section>
</div>
