/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.custom-dialog-content {
    margin: 0;
    padding: 0;
  }
.section-1 h4 {
    font-weight: 700;
}
.section-1 p {
    color: grey;
    font-weight: 600;
    font-size: 17px;
    padding: 5px;
}


/* section 2 */
.form-select-box {
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.236);
    border: none;
    padding: 10px;
    max-width: 100%;
}
.form-select-box:focus {
    box-shadow: none;
    outline: none;
}
.section-2 label {
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
.section-2 input { 
    margin-top: 10px;
}
.section-2 .reserve-btn {
    border: none;
    background-color: rgb(65, 197, 65);
    color: white;
    font-weight: 600;
    padding: 5px;
    /* border: 2px solid rgb(65, 197, 65); */
    box-shadow: 5px 10px 10px rgba(32, 98, 32, 0.276);
    max-width: 360px;
    width: 100%;
}