/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    scrollbar-width:thin;
    scrollbar-color: rgb(65, 197, 65) #f1f1f1; 
}
body {
    overflow-y: scroll;
}